<!doctype html>
<html lang="en-US-x-Panda">
<head>
    <meta charset="utf-8">
    <title>Scot Radio Stream Info</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Scot Radio Admin Page</h1>
    </header>
    <main>
        <section class="stats">
            <h2>Show stats</h2>
            <dl>
                <dt>Current Listeners:</dt> <dd class="current-listeners"></dd>
                <dt>Peak Listeners: </dt> <dd class="peak-listeners"></dd>
                <dt>Total Listeners (since <span class="start-stream-date"></span>): </dt> <dd class="total-listeners"></dd>
            </dl>
        </section>
        <form class="change-message" action="/streaminfo/change-message" method="POST">
           <label for="new-message">Change the Now Playing message: <input type="text" id="new-message"></label><input type="submit">
        </form>
    </main>
</body>
</html>
