<!doctype html>
<html lang="en-US-x-Panda">
<head>
	<meta charset="utf-8">
	<title>Scot Radio</title>
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="canonical" href="http://scotrad.io/">
	<link rel="stylesheet" href="/main.css">
	<style>
		.picture {background-image: url('{{ picture }}')}
	</style>
</head>
<body>
	<img src="/scotradiologo.jpg" alt="logo">
	<p>Listen to the stream:</p>
	<audio src="http://scotrad.io:8000/live" controls onerror="nostream()"></audio>
	<span class="nostream">The stream is currently offline. Check back later!</span>
	<p class="now-playing">Now Playing: <span class="current">{{ name }}</span></p>
    <p class="tagline">{{ tagline }}</p>
	<p class="social"></p>
	<p class="picture"></p>
	<a href="http://blogs.gordon.edu/scotradio/"><img src="/home2.png" class="home2" alt="Link to the blog"></a>
<script src="/script.js" async></script>
</body>
</html>
