<!doctype html>
<html lang="en-US-x-Panda">
<head>
    <meta charset="utf-8">
    <title>Scot Radio Archives</title>
    <link rel="stylesheet" href="/main.css">
    <script src="archives.js"></script>
</head>
<body>
    <header>
        <img class="logo" src="/scotradiologo.jpg" alt="logo">
        <h1>Scot Radio Archives</h1>
    </header>
    <div class="show-container">
    {{#each shows}}
    {{#if title}}
        <section>
            <a href="{{ slug }}" class="single-show" style="background-image: url('{{ picture}}')"></a>
            <h4>{{ title }}</h4>
        </section>
    {{/if}}
    {{/each}}
    </div>
    <footer>
        <small>&copy; 2015 <a href="https://github.com/scotradio/scotrad.io">Scot Radio and contributors</a>. <a href="https://github.com/scotradio/scotrad.io/blob/master/LICENSE">Licensed</a> under a CC-BY-SA license.</small>
    </footer>
</body>
</html>
