body {
	background-color:#1a98d4;
	text-align:center;
	color:white;
	font-family:Helvetica, Arial, sans-serif;
	padding-top:30px;
	overflow-x: hidden;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 936px;
	width: 100%;
}

p {
	font-size:1.2em;
	width: 95%;
	margin: 10px auto;
}

.radiobutton2 {
	margin:10px 0 20px;
	display:inline-block;
}

.home2 {
	display: inline-block;
	height: 150px;
	width: 150px;
}

#nostream {
	visibility: hidden;
	display: block;
	width: 95%;
	margin: 0 auto;
}

a {
	display: block;
}